.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social_icons {
  font-size: 2rem;
  width: 150px;
  display: flex;
  justify-content: space-between;
  color: #3730a3;
}

.social_icon:hover {
  color: #ff335f;
}
