.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.message {
  font-size: 2rem;
  padding: 0.5rem;
}

.social_icons {
  font-size: 2rem;
  width: 150px;
  display: flex;
  justify-content: space-between;
  color: var(--button-color);
}

.social_icon:hover {
  color: var(--button-color-hover);
}

@media only screen and (max-width: 775px) {
  .message {
    text-align: center;
  }
}
