@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
:root {
  --background-color: #fffffe;
  --headline-color: #2b2c34;
  --paragraph-color: #566b78;
  --button-color: #3730a3;
  --button-color-hover: #ff335f;

  /* --secondary-background: #242629; */

  --icon-github: black;
  --icon-linkedin: rgb(40, 103, 178);
}

/* background-color: var(--button-background);
color: var(--button-color); */

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  /* color: #333; */
  color: var(--headline-color);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* background-color: #f3f3f3; */
  /* font-family: Roboto-mono; */
  font-family: 'Helvetica', 'Arial', sans-serif;
  /* font-family: 'Roboto Mono', monospace; */
  background-color: var(--background-color);
  color: var(--paragraph-color);
  line-height: 1.5;
  color: var(--paragraph-color);
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  color: var(--button-color);
  text-decoration: none;
}

a:hover {
  color: var(--button-color-hover);
}

* {
  box-sizing: border-box;
}

section {
  margin-bottom: 2rem;
}
