html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section-title {
  display: flex;
  justify-content: space-around;
  max-width: 800px;
  margin: 0 auto 4rem auto;
  font-weight: bold;
  font-size: 3rem;
  border-bottom: 1px solid black;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 790px) {
}
