.landing {
  height: 90vh;
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

/* .aboutme {
  color: var(--button-color);
  padding: 1rem 0;
}

.aboutme:hover {
  color: var(--button-color-hover);
} */

@media only screen and (max-width: 790px) {
  .landing {
    font-size: 1.4rem;
  }
}

/* ----------------- */
