.landing {
  padding: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

@media only screen and (max-width: 500px) {
  .name {
    font-size: 1.5rem;
  }

  .intro {
    font-size: 1.1rem;
  }
}
