.markdown {
  max-width: 1000px;
  margin: 0 auto;
  font-size: 1.5rem;
}

.title {
  border-bottom: 1px black solid;
  padding-bottom: 1.5rem;
}

.markdown a {
  text-decoration: underline;
}

.markdown img {
  /* max-width: 100%;
  max-height: 100%; */
  max-width: 70ch;
  padding: 3em 1em;
  margin: auto;
  line-height: 1.75;
  font-size: 1.25em;
}

@media only screen and (max-width: 800px) {
  .markdown {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 400px) {
  .markdown {
    font-size: 1rem;
  }
}
