.nav {
  border-bottom: 1px solid gray;
  font-family: 'Roboto Mono', monospace;
}

.nav_items {
  display: flex;
  font-size: 1.4rem;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.nav_links {
  width: 15rem;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nav_link {
  /* padding-right: 1rem; */
}

.nav_link_resume {
  background-color: transparent;
  color: green;
  border: 1px solid green;
  padding: 0.5rem;
  border-radius: 23px;
}

@media only screen and (max-width: 850px) {
  .nav {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: hsla(0, 0%, 100%, 0.8);

    backdrop-filter: saturate(180%) blur(6px);
  }

  .nav_items {
    font-size: 1rem;
    padding: 0;
    justify-content: center;
  }

  .logo {
    display: none;
  }

  .nav_links {
    width: 13rem;
  }
}

@media only screen and (max-width: 450px) {
  .nav {
    font-size: 1rem;
    padding: 0 1rem 0 1rem;
  }
}
