.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid gray;
  text-align: center;
}

.nav_links {
  display: inline-block;
  list-style-type: none;
  width: 300px;
  margin-right: 1.1rem;
  display: flex;
  justify-content: space-between;
}

.nav_link_resume {
  background-color: transparent;
  color: green;
  border: 1px solid green;
  padding: 0.5rem;
  border-radius: 24px;
}
