.container {
  max-width: 1140px;
  margin: 0 auto;
  /* margin: 0 3rem; */
}

.project_container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.project_details {
  max-width: 33.33%;
}

@media only screen and (max-width: 790px) {
  .project_container {
    flex-direction: column;
  }

  .project_details {
    max-width: 480px;
  }
}
