.container {
  font-size: 1.3rem;
}

.project_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2rem;
}

.project_details {
  max-width: 33.33%;
  margin-bottom: 2rem; /**/
  margin-left: 1.5rem;
}

.small_description {
  margin-bottom: 1.2rem;
}

.read_more {
  background-color: #343434;
  color: white;
  padding: 0.8rem;
  border-radius: 10px;
}

@media only screen and (max-width: 925px) {
  .project_container {
    flex-direction: column;
    padding: 0.5rem;
    max-width: 545px;
    margin: 0 auto 2rem auto;
  }

  .project_details {
    margin-bottom: 0;
    margin-left: 0;
    max-width: 100%;
  }
}
