.project_container {
  font-family: 'Roboto Mono', monospace;
  max-width: 750px;
  margin: 0 auto;
  font-size: 1.5rem;
}

.title {
  border-bottom: 1px black solid;
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 800px) {
  .project_container {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 500px) {
  .project_container {
    font-size: 1.2rem;
  }
}
